<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <form (ngSubmit) = "loginUser()" [formGroup] = "loginForm">
  <div padding>

    <ion-row>
      <ion-col>
        <img class="logo" src="assets/imgs/budgee.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset class="no-border">
          <ion-item>
            <ion-label >Email</ion-label>
            <ion-input type="text" formControlName= "email" [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
          </ion-item>
              

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName = "password" [class.invalid]="!loginForm.controls.password.valid && blur" ></ion-input>
          </ion-item> 
          
 
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div class="error-message" *ngIf="!loginForm.controls.email.valid &&
          loginForm.controls.email.touched" style="color:red">
           Please enter a valid email address.
      </div>  
         <div class="error-message" *ngIf="!loginForm.controls.password.valid 
          && loginForm.controls.password.touched" style="color:red">
            Your password needs more than 6 characters.
    </div>
       <!--  <div ngxErrors="email" #emailErrors="ngxErrors">
              <div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']" style="color:red">Invalid Email</div>
            </div>
          <div ngxErrors="password" #passwordErrors="ngxErrors">
              <div [ngxError]="['minlength', 'required']" [when]="['touched']" style="color: red">Password should at least have 6 characters</div>
            </div> 
          <div class="form-error" style="color:red">{{loginError}}</div>-->

        <button ion-button class="login-button" type="submit" [disabled]="!loginForm.valid">Login</button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="goToSignup()">
          <span> Create a new account</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</form>
</ion-content>
