page-dashboard {
 .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }
    #colBudget{
        padding-top: 8%;
        text-align: left;
    
    }
    #iconItem{
        width:45%;
    }
    #pencilIcon{
        width:20%;
        text-align: left;
    }

    #edit{
        margin-top:0;
        text-align: right;
        
    }


    

}
