<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-header>
      <ion-navbar>
      </ion-navbar>
    </ion-header>
    <form [formGroup]="signupForm" (submit)="signupUser()">
    <div padding>
      <ion-row>
        <ion-col>
          <img class="logo" src="assets/imgs/logo1.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset class="no-border">
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="text" formControlName="email" [class.invalid]="!signupForm.controls.email.valid && blur"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" formControlName="password"  [class.invalid]="!signupForm.controls.password.valid && blur"></ion-input>
            </ion-item>
           
         <!--   <ion-item>
              <ion-label>Confirm Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
     
            <ion-item>
                <ion-label>Date of Birth</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"[(ngModel)]="myDate" ></ion-datetime>>
        
              </ion-item>
            -->
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <div class="error-message" *ngIf="!signupForm.controls.email.valid  
            && signupForm.controls.email.touched" style="color:red">
              Please enter a valid email.
            </div>
            <div class="error-message" 
            *ngIf="!signupForm.controls.password.valid  && 
            signupForm.controls.password.touched" style="color:red">
              Your password needs more than 6 characters.
            </div>
 
          <button ion-button class="login-button" type="submit" [disabled]="!signupForm.valid">Sign up</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div (click)="goToLogin()">
            <span>Already has an account? Login now!</span>
          </div>
        </ion-col>
      </ion-row>
    </div>
    </form>
  </ion-content>
  